<div id="landing-container">

  <div id="landing-center">
  <div id="big-brand"><strong>blogit.</strong></div>
  <div id="tagline">a simple way to share your thoughts</div>

  <div id="button-container">
    <%= link_to 'read', blogs_recent_blogs_path, :class=> "big-button" %>
    <%= link_to 'write', new_user_registration_path, :class=> "big-button" %>
  </div>
</div>